


@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');

.homeComponent{
  background-color: black;
  font-family: wix-made-for-display, sans-serif;
  color: black;
}
